In [5]:
import pandas as pd

### Importando o DF (Baixado do Kraggle: https://www.kaggle.com/datasets/oktayrdeki/houses-in-london/data)

In [4]:
df=pd.read_csv('london_houses.csv')

### Topo do DF

In [6]:
df.head()

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          1000 non-null   object
 1   Neighborhood     1000 non-null   object
 2   Bedrooms         1000 non-null   int64
 3   Bathrooms        1000 non-null   int64
 4   Square Meters    1000 non-null   int64
 5   Building Age     1000 non-null   int64
 6   Garden           1000 non-null   object
 7   Garage           1000 non-null   object
 8   Floors           1000 non-null   int64
 9   Property Type    1000 non-null   object
 10  Heating Type     1000 non-null   object
 11  Balcony          1000 non-null   object
 12  Interior Style   1000 non-null   object
 13  View             1000 non-null   object
 14  Materials        1000 non-null   object
 15  Building Status  1000 non-null   object
 16  Price (£)        1000 non-null   int64
dtypes: int64(6), object(11)
memory usage: 132.9+ KB

### Contando os valores null

In [8]:
df.isnull().sum()

Address            0
Neighborhood       0
Bedrooms           0
Bathrooms          0
Square Meters      0
Building Age       0
Garden             0
Garage             0
Floors             0
Property Type      0
Heating Type       0
Balcony            0
Interior Style     0
View               0
Materials          0
Building Status    0
Price (£)          0
dtype: int64

### Exibindo as colunas que tem no DataFrame

In [9]:
df.columns

Index(['Address', 'Neighborhood', 'Bedrooms', 'Bathrooms', 'Square Meters',
       'Building Age', 'Garden', 'Garage', 'Floors', 'Property Type',
       'Heating Type', 'Balcony', 'Interior Style', 'View', 'Materials',
       'Building Status', 'Price (£)'],
      dtype='object')

### Criando um dicionário e traduzindo as colunas

In [12]:
novos_nomes = {
    'Address': 'Endereço',
    'Neighborhood': 'Bairro',
    'Bedrooms': 'Quartos',
    'Square Meters': 'Metros Quadrados',
    'Building Age': 'Idade da Construção',
    'Garden': 'Jardim',
    'Garage': 'Garagem',
    'Floors': 'Andares',
    'Property Type': 'Tipo de Propriedade',
    'Heating Type': 'Tipo de Aquecimento',
    'Balcony': 'Sacada',
    'Interior Style': 'Estilo do Interior',
    'View': 'Vista',
    'Materials': 'Materiais',
    'Building Status': 'Status da Construção',
    'Price (£)': "Preço (em euros)"
}

df.rename(columns=novos_nomes, inplace=True)
df.head()

,Endereço,Bairro,Quartos,Bathrooms,Metros Quadrados,Idade da Construção,Jardim,Garagem,Andares,Tipo de Propriedade,Tipo de Aquecimento,Sacada,Estilo do Interior,Vista,Materiais,Status da Construção,Preço (em euros)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000

### Alterando os valores 'Yes' e 'No' para 1 ou 0

In [14]:
df['Jardim'] = df['Jardim'].map({'Yes': 1, 'No': 0})

In [15]:
df.head(2)

,Endereço,Bairro,Quartos,Bathrooms,Metros Quadrados,Idade da Construção,Jardim,Garagem,Andares,Tipo de Propriedade,Tipo de Aquecimento,Sacada,Estilo do Interior,Vista,Materiais,Status da Construção,Preço (em euros)
0,78 Regent Street,Notting Hill,2,3,179,72,0,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,1,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000

### Alterando os valores "Yes" e "No" da coluna Garagem para 1 e 0

In [17]:
df['Garagem'] = df['Garagem'].map({'Yes': 1, 'No': 0})
df.head(2)

,Endereço,Bairro,Quartos,Bathrooms,Metros Quadrados,Idade da Construção,Jardim,Garagem,Andares,Tipo de Propriedade,Tipo de Aquecimento,Sacada,Estilo do Interior,Vista,Materiais,Status da Construção,Preço (em euros)
0,78 Regent Street,Notting Hill,2,3,179,72,0,0,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,1,0,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000

### Exibindo os tipos de propriedades que tem na coluna Tipo de Propriedade

In [18]:
df['Tipo de Propriedade'].unique()

array(['Semi-Detached', 'Apartment', 'Detached House'], dtype=object)

### Substituindo as linhas para uma versão traduzida

In [20]:
tipos = {
    'Semi-Detached': 'Geminada',
    'Apartment': 'Apartamento',
    'Detached House': 'Casa Isolada'
}
df['Tipo de Propriedade'] = df['Tipo de Propriedade'].replace(tipos)
df['Tipo de Propriedade'].value_counts()

Tipo de Propriedade
Casa Isolada    349
Geminada        345
Apartamento     306
Name: count, dtype: int64

In [21]:
df.head(2)

,Endereço,Bairro,Quartos,Bathrooms,Metros Quadrados,Idade da Construção,Jardim,Garagem,Andares,Tipo de Propriedade,Tipo de Aquecimento,Sacada,Estilo do Interior,Vista,Materiais,Status da Construção,Preço (em euros)
0,78 Regent Street,Notting Hill,2,3,179,72,0,0,3,Geminada,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,1,0,1,Apartamento,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000

### Visualizando os tipos de aquecimentos

In [22]:
df['Tipo de Aquecimento'].unique()

array(['Electric Heating', 'Central Heating', 'Underfloor Heating',
       'Gas Heating'], dtype=object)

### Traduzindo os tipos de aquecimento para português

In [23]:
tipos_aquecimento = {
    'Electric Heating': 'Elétrico',
    'Central Heating': 'Central',
    'Underfloor Heating': 'Piso',
    'Gas Heating': 'Gás'
}

df['Tipo de Aquecimento'] = df['Tipo de Aquecimento'].replace(tipos_aquecimento)
df['Tipo de Aquecimento'].unique()

array(['Elétrico', 'Central', 'Piso', 'Gás'], dtype=object)